:root {
    box-sizing: border-box;
    background-color: black;
}

a > img {
    height: 12rem;
    margin: 10px;
    border-radius: 6px;
    border: solid 1px white;
}

h1 {
    font-size: 4rem;
    font-family: 'Bungee Inline', cursive;
    text-align: center;
    color: white;
}

.Button {
    text-align: center;
    margin-bottom: 45px;
}

button {
    height: 2rem;
    border-radius: 10px;
    font-size: larger;
    background-color: cornflowerblue;
    color: white;
    font-weight: 400;
    border-style: none;
    background-color: blue;
    margin-left: 10px;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 600;
}
