:root {
    background-color: #B14D64;
}

header {
    font-family: 'Sacramento', cursive;
    font-size: 3rem;
    color: white;
    text-align: center;
}

textarea {
    font-size: .9rem;
    height: 570px;
    width: 36%;
    border-radius: 1%;
    align-items: center;
    border-style: none;

}

.poem1 {
    margin-right: 8%;
    margin-left: 8%;
}

.Button {
    text-align: center;
}

button {
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
    background-color: white;
    color: #FF6F90;
    font-size: 1.5rem;
    margin-bottom: 6rem;
    border-radius: 6px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

footer {
    margin-top: 4rem;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    text-align: center;

}