:root {
    box-sizing: border-box;
}

header, footer {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
}

header {
    padding-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}

.container {
    display: flex;
    
}

.nav {
    border: solid 2px white .7;
    padding-right: 1rem;
    margin-left: 1%;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 10px;
    margin-right: 3%;
    border: double 8px white;
}

.navList {
    padding-right: 10px;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
    color: maroon;

}

li {
    list-style-type: none;
    padding-left: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.header {
    font-family: 'Bungee Inline', cursive;
    font-size: 4.6rem;
}

.card-content {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
}

.card {
    border-radius: 15px;
    background-color:maroon;

}

footer {
    margin-top: 1.5rem
}
